span.user-account-kind-menu {
    width: 90px;
    height: 33px;
    margin: 0px 10px;
}
span.user-account-kind-menu img {
    vertical-align: text-top;
}
h5.user-account-title-theme {
    font-size: 20px;
    font-weight: 600;
    color: #121212;
    text-transform: capitalize;
}
ul li.featured-user-list {
    display: inline-block;
    text-align: center;
    margin: 1rem;
}
span.user-featured-logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 7px;
    border: 1px solid #2e91f7;
    border-radius: 50%;
    padding: 2px;
}
h6.text-user-featured-title {
    font-size: 16px;
    font-weight: 500;
    color: #121212;
    text-transform: uppercase;
}
p.text-user-featured-description {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.text-left {
    text-align: left;
}
.create-account-admin-profile {
    align-items: center;
}
.create-account-admin-profile-card {
    justify-content: center;
}
.blossom-view-content-card-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.blossom-content-card-feature-continer {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
    border: 10px solid #f2f2f2;
}
img.img-fluid-account-user {
    width: 25px;
    height: 25px;
}
p.text-featured-description {
    font-size: 16px;
    color: #666666;
}
h6.text-username-featured-title {
    font-size: 17px;
    font-weight: 600;
    color: #121212;
}
span.user-account-logo-bar-dots {
    text-align: right;
}
/* Onhover dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: #333333;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.blossom-donation-detail-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 3px solid #2e91f7;
    padding-bottom: 15px;
}
.user-donation-detail-input {
    width: 90% !important;
    flex: 2 !important;
    border: 1px solid #c7c7c7;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 30px !important;
    color: #666666;
    height: 50px;
}
.user-donation-detail-input::placeholder {
    color: #666666;
    font-size: 16px !important;
    font-weight: 300 !important;
}
.user-donation-detail-input:focus {
    outline: none;
    box-shadow: none;
}
.user-donation-detail-btn-primary {
    flex: 1 !important;
    width: 120px !important;
    max-width: 120px;
    margin-left: 2rem !important;
    background-color: #2e91f7;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px !important;
}

ul li.user-blossom-confirmation-list {
    display: inline-block;
    margin: 10px;
}
span.user-blossom-confirmation-logo {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    text-transform: capitalize;
}
span.user-blossom-confirmation-logo img {
    margin-right: 10px;
}
img.img-fluid-content-bottom {
    width: 30px;
    height: 30px;
}
span.check-radio-label-title {
    display: flex;
    align-items: center;
}
span.check-radio-label-title img {
    width: 40px;
    height: 40px;
}
p.check-label-title-social {
    margin-left: 10px;
}
label.container-checks-box-content {
    border-radius: 40px;
}
span.radio-content-btn-outline {
    top: 24px;
    background-color: transparent !important;
    border: 1px solid #2e91f7;
    border-radius: 50%;
    padding: 3px;
    width: 17px;
    height: 17px;
}
.container-checks-box-btn .radio-content-btn-outline:after {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #2e91f7;
    left: 1.6px;
    top: 1.35px;
}

.form-control-input-content-payment {
    border: 1px solid #c8c8c8 !important;
    background-color: #f6f6f6 !important;
    border-radius: 30px !important;
    /* padding: 10px !important; */
    height: 48px;
    color: #666666 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.form-control-input-content-payment:focus {
    box-shadow: none;
    outline: none;
}
.form-control-input-content-payment::placeholder {
    color: #666666 !important;
    text-transform: capitalize;
}
.admin-blossom-tabs-profile {
    border-bottom: none;
}

.admin-blossom-tabs-profile .nav-link.active {
    color: #2e91f7;
    text-decoration: underline;
    border: none;
}
.admin-blossom-tabs-profile .nav-link:hover,
.admin-blossom-tabs-profile .nav-link:focus {
    border: none;
}
.admin-blossom-tabs-profile .nav-link {
    color: #121212;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}
.create-account-admin-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-about-kind-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h6.user-account-link-all {
    font-size: 17px;
    font-weight: 400;
    color: #407bff;
    text-transform: capitalize;
    text-decoration: underline;
}
.blossom-view-amount-donations {
    box-shadow: 0px 0px 10px 0px #00000026;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
}
ul li.blossom-kind-profile-card-listing {
    display: block;
    margin: 0px;
    padding: 0px;
}
.blossom-kind-profile-order-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h5.text-dark-theme {
    color: #333333;
}
h6.text-dark-theme {
    color: #666666;
    text-decoration: none;
}
.create-account-admin-profile {
    flex: 2;
}
.create-account-border-line {
    flex: 1;
    font-size: 30px;
    font-weight: 300;
}

.profile-image-picker-post {
    width: 100%;
}
.circle-container-post-image {
    width: 100%;
    height: 110px;
    border-radius: 25px;
}
.circle-container-post-image img {
    border-radius: 0px;
}
.circle-container-post-image .placeholder {
    color: #666666;
    background-color: transparent;
    opacity: 1;
}
img.cover-image-edit-logo {
    width: 58px !important;
    height: 58px !important;
}
span.error-input {
    color: #f02252;
}
label.user-profile-label-form {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
.form-control-contact-post {
    display: block !important;
}

.pl-0 {
    padding-left: 1rem !important;
}
.react-tagsinput-input {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
.react-tagsinput-tag {
    margin-top: 10px !important;
    background-color: #407bff !important;
    color: #fff !important;
}
.react-tagsinput-remove::before {
    color: #f02252 !important;
}
.user-form-post-card-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #00000026;
}
.form-control-btn-weight-overview {
    width: auto !important;
}
h3.title-username-insight-update {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    color: #333333;
}
h6.text-username-insight-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #666666;
}
.user-chart-insight-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.user-text-title-left {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
span.user-bar-chart-content {
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
}
span.user-featured-logo-insight {
    border: none;
}
.user-reviews-feedback-card {
    background-color: #407bff;
    box-shadow: 4px 4px 15px 0px #393d481a;
    border-radius: 15px;
    padding: 15px;
    margin-top: 2rem;
}

.user-appointment-calendar .react-calendar {
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    background-color: #407bff;
}

.user-appointment-calendar .react-calendar,
.user-appointment-calendar .react-calendar *,
.user-appointment-calendar .react-calendar *:before,
.user-appointment-calendar .react-calendar *:after {
    color: #fff;
}
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
    color: #006edc !important;
}
.user-appointment-calendar .react-calendar__tile--active {
    background: #fff;
    color: #006edc !important;
    border-radius: 15px;
}
.user-appointment-calendar .react-calendar__tile--active abbr {
    color: #006edc;
}
.user-appointment-calendar abbr[title] {
    text-decoration: none;
}
ul li.user-time-slots-availability {
    display: inline-block;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #121212;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #121212;
    text-align: center;
    margin: 10px !important;
    cursor: pointer;
}
li.user-time-slots-availability:hover {
    background-color: #ff8b7b;
    color: #fff;
    border: 1px solid transparent;
}
.form-control-btn-weight-service {
    width: 120px !important;
}
.user-upload-profile-text {
    font-size: 17px;
    font-weight: 400;
    color: #2e91f7;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.user-form-create-post-content {
    background-color: #e2e2e2 !important;
}
.user-view-card-home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.user-view-list-likes {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-left: 1rem;
}
p.view-user-comments-count {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}
img.img-fluid-alert-logo {
    margin-left: -0.5rem;
}
img.img-fluid-alert {
    width: 23px;
    height: 23px;
    display: inline-block;
    object-fit: contain;
}
img.img-fluid-vector-card-view {
    filter: blur(2px);
    width: 100%;
}
img.img-fluid-vector-card-view-profile {
    filter: none;
}
.comments-user-content-card-container {
    margin-top: -2.2rem;
}

ul.comments-like-container {
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #0000001a;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    width: 290px;
    display: inline-block;
    z-index: 2;
    position: relative;
}
span.button-view-modal-card {
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #0000001a;
    border-radius: 25px;
    padding: 15px;
    display: inline-block;
    z-index: 2;
    position: relative;
    color: #407bff;
    font-size: 16px;
    width: 100px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 42%;
    left: 42%;
    cursor: pointer;
}

ul li.user-like-comments-logo {
    display: inline-block;
    min-width: 128px;
    text-align: center;
}
span.user-like-comments-text {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    text-transform: capitalize;
}
span.user-like-comments-text img.user-like-comments-image {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.detail-btn-primary-pay {
    margin-left: 0rem !important;
}
h6.text-user-view-title {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
    text-transform: capitalize;
}
p.text-user-view-description {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
span.user-view-logo-content {
    width: 185px;
    height: 120px;
    display: inline-block;
}
span.user-view-logo-content img {
    width: 100%;
    height: 100%;
}
.user-account-username-view {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.create-account-admin-profile-view {
    align-items: normal;
}
.form-control-btn-weight-view {
    min-width: 165px !important;
    padding: 8px !important;
    font-size: 16px !important;
}
h6.text-username-featured-title-view {
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
ul li.user-profile-insights-listing {
    display: inline-block;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: left;
    text-transform: capitalize;
}
label.user-profile-label-insights {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px !important;
}
.user-profile-avator-portfolio {
    width: 140px;
    height: 80px;
    margin: 10px 0px;
}
.user-profile-avator-portfolio img {
    width: 100%;
    height: 100%;
}
.circle-container-post-edit-member {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-mart-product-card {
    padding: 10px;
    background-color: transparent;
    border: none;
    min-height: 330px;
    margin: 10px 0px;
}
.user-mart-product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h6.user-mart-item-price {
    font-size: 15px;
    font-weight: 600;
    color: #121212;
    text-transform: capitalize;
}
span.user-mart-review-mark {
    font-size: 15px;
    font-weight: 400;
    color: #ffb800;
}
img.user-mart-review-star {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
}
img.user-mart-review-active {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
}
span.theme-color-text {
    color: #666666;
}
p.user-card-paragraph-text {
    font-size: 15px;
    font-weight: 400;
    color: #121212;
    margin-top: 10px;
}
.product-detail-content-container {
    text-align: left;
}
h5.user-product-title-detail {
    font-size: 20px;
    font-weight: 600;
    color: #121212;
    text-transform: capitalize;
}
.admin-dashboard-product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
p.product-detail-description {
    font-size: 13px;
    font-weight: 400;
    color: #407bff;
    text-decoration: underline;
}
.product-donation-detail-btn-primary {
    min-width: 170px !important;
}
.account-title-review-product {
    text-align: center;
    border-bottom: 1px solid #c7c7c74f;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #121212;
    text-transform: uppercase;
}
.user-review-product-theme-card {
    background-color: #E2E2E2;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
span.user-review-product-theme-logo {
    width: 150px;
    height: 150px;

}
span.user-review-product-theme-logo img {
    width: 100%;
    height: 100%;
}
.user-product-right-content {
    margin-left: 1rem;
}
.form-control-text-content-review {
    border-radius: 15px !important;
}