.bg-navbar-container {
    background-color: #2e91f7 !important;
}
.navbar-collapse-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
span.user-navbar-logo {
    width: 220px;
    height: 100%;
    display: inline-block;
}
span.user-navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-navbar-content-link {
    min-width: 110px;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #fff !important;
    cursor: pointer;
    text-align: center;
}
.user-navbar-content-link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}
.btn-primary-content-navbar {
    font-size: 17px !important;
    font-weight: 500 !important;
    color: #666666 !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    min-width: 130px !important;
    padding: 5px !important;
    text-align: center !important;
    border: none !important;
    outline: none !important;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .user-navbar-content-link {
        text-align: left !important;
    }
    .navbar-collapse-content {
        justify-content: left;
        text-align: left;
        align-items: flex-start;
        max-height: 100% !important;
    }
    .btn-primary-content-navbar {
        width: 200px;
        margin: 20px 0px;
    }
}
