body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 16px;
  font-weight: 400;
}

h1.h1 {
  font-size: 60px;
  font-weight: 600;
}

h2.h2 {
  font-size: 40px;
  font-weight: 300;
}
h4.h4 {
  font-size: 30px;
  font-weight: 500;
}

h5.h5 {
  font-size: 24px;
  font-weight: 500;
}

h6.h6 {
  font-size: 18px;
  font-weight: 300;
}

@media (min-width: 992px) and (max-width: 1199px) {
  h1.h1 {
    font-size: 42px;
  }
  h2.h2 {
    font-size: 26px;
  }
  h5.h5 {
    font-size: 20px;
  }
  h6.h6 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1.h1 {
    font-size: 38px;
  }
  h2.h2 {
    font-size: 32px;
  }
  h5.h5 {
    font-size: 18px;
  }
  h6.h6 {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  h1.h1 {
    font-size: 32px;
  }
  h2.h2 {
    font-size: 28px;
  }
  h5.h5 {
    font-size: 18px;
  }
  h6.h6 {
    font-size: 16px;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  h1.h1 {
    font-size: 25px;
  }
  h2.h2 {
    font-size: 22px;
  }
  h5.h5 {
    font-size: 20px;
  }
  h6.h6 {
    font-size: 13px;
  }
  p {
    font-size: 15px;
    font-weight: 400;
  }
}
.text-capitilize {
  text-transform: capitalize;
}
.min-width-350 {
  min-width: 350px !important;
  max-width: 350px;
}
.text-white-theme {
  color: #fff;
}
.text-white-theme-footer {
  font-size: 13px;
}
.text-right {
  text-align: right;
}
.cursor-pointer {
  cursor: pointer;
}
.text-uppercase {
  text-transform: uppercase;
}
.max-width-100 {
  max-width: 100% !important;
}
.bg-white {
  background-color: #fff !important;
}
.padding-10 {
  padding: 10px !important;
}