@media (min-width: 300px) and (max-width: 575px) {
    .banner-text-content {
        display: block;
    }
    span.btn-light-theme-danger {
        display: inline-block;
    }
    .user-button-container {
        text-align: center;
        max-width: 100%;
    }
    .btn-primary-content-theme {
        font-size: 16px !important;
    }
    .user-account-profile-view {
        display: block;
    }
    .user-account-description {
        margin-left: 0rem;
        margin-top: 1rem;
    }
    ul.user-social-account-container li.user-social-account-list {
        display: inline-block;
        margin: 5px;
    }
    .user-banner-content-logo {
        width: 100%;
        height: 100%;
    }
    img.img-fluid-logo-theme {
        width: 100%;
    }
    span.emotive-benfits-span-logo {
        width: 60px;
        height: 60px;
        display: inline-block;
    }
    h2.banner-home-title-head {
        font-size: 28px;
    }
    .min-width-350 {
        min-width: 100% !important;
    }
    .portfolio-card-carousels-section {
        display: inline-block;
    }
    .hear-from-user-card {
        margin-bottom: 4rem;
    }
    h4.footer-heading-menu {
        font-size: 24px;
    }
    .about-banner-vactor-span {
        width: 100%;
        height: 300px;
    }
    .form-control-contact-content {
        width: 100% !important;
    }
    .form-control-btn-primary {
        min-width: 90% !important;
        font-size: 16px !important;
        margin-top: 1rem;
    }
    span.user-navbar-logo {
        width: 190px;
    }
    .form-control-otp-code {
        width: 50px !important;
        height: 50px !important;
        margin: 5px !important;
    }
    .home-admin-kind-dashboard {
        display: inline-block;
        padding: 12px;
    }
    span.user-account-kind-menu {
        margin: 10px !important;
    }
    h6.text-username-featured-title {
        font-size: 15px !important;
    }
    .blossom-donation-detail-line {
        display: inline-block !important;
    }
    span.user-featured-logo {
        width: 37px !important;
        height: 37px !important;
        margin-bottom: 0px !important;
    }
    h6.text-user-featured-title {
        font-size: 14px !important;
    }
    .user-donation-detail-btn-primary {
        margin-left: 1rem !important;
        font-size: 15px !important;
    }
    .user-appointment-calendar .react-calendar {
        width: 100% !important;
    }
    ul li.user-time-slots-availability {
        width: 100px !important;
    }
    form.form-control-contact-content {
        padding: 0px;
    }
    .comments-user-content-card-container {
        margin-top: 0rem !important;
    }
    ul li.user-like-comments-logo {
        text-align: left !important;
        margin: 5px !important;
    }
    ul.comments-like-container {
        margin: 0px !important;
        width: 100% !important;
        padding: 5px !important;
        margin-top: 1rem !important;
    }
    .blossom-content-card-feature-continer canvas {
        width: 100% !important;
    }
    .admin-dashboard-portfolio-kind {
        padding: 10px;
    }
    .user-mart-product-logo {
        text-align: center;
    }
}
@media (min-width: 300px) and (max-width: 450px) {
    span.button-view-modal-card {
        font-size: 14px !important;
        top: 37% !important;
        left: 30% !important;
        padding: 9px !important;
    }

}
@media (min-width: 300px) and (max-width: 480px) {
    .create-account-admin-profile-view {
        display: inline-block;
    }
    .user-account-username-view {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .product-donation-detail-group-container {
        display: block !important;
    }
    .product-donation-detail-group-container .user-donation-detail-input {
        margin: 20px 0px;
    }
}
@media (max-width: 991px) {
    .emotive-benefits-timeline {
        display: block;
    }
    .emotive-benefits-left-profile {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 1rem;
        margin-left: 0rem;
        z-index: 2;
        position: relative;
    }
    .emotive-benefits-border {
        border: none;
        text-align: center;
    }
    .emotive-benefits-left-profile-initail {
        margin-right: 0rem;
    }
    .emotive-benefits-left-profile-center {
        margin-right: 0rem;
    }
    .portfolio-card-carousels-section {
        display: inline-block;
    }
    .hear-from-user-card {
        margin-bottom: 4rem;
    }
    .bg-navbar-container-view {
        display: block;
    }
    .create-account-admin-section-kind {
        display: none;
    }
    .blossom-view-content-card-flex {
        display: inline-block;
    }
    h3.user-account-title-username {
        text-align: left;
        font-size: 20px;
    }
    .blossom-view-content-card-portfolio {
        padding: 10px;
    }
    .create-account-admin-profile {
        padding: 5px;
    }
    h5.user-account-title-white {
        font-size: 18px;
    }
    h6.user-account-title-white {
        font-size: 15px;
    }
    span.user-account-logo-bar-dashboard {
        width: 85px;
        height: 85px;
    }
    .admin-dashboard-bottom-bar {
        padding-left: 0rem !important;
    }
}
@media (min-width: 991px) {
    .max-width-footer-left {
        max-width: 80%;
    }
    .bg-navbar-container-view {
        display: none !important;
    }
    .blossom-content-card-feature-continer {
        max-width: 90%;
    }
    .blossom-donation-detail-line {
        max-width: 90%;
    }
    .user-donation-detail-group {
        max-width: 90%;
    }
    p.max-width-90-text {
        max-width: 90%;
    }
    .admin-about-kind-heading {
        max-width: 90%;
    }
    .blossom-content-insight-feature-continer {
        max-width: 90%;
    }
    .max-width-90 {
        max-width: 90%;
    }
}
