.banner-text-content {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    align-items: center;
}
p.parapraph-content-banner {
    margin-bottom: 0px;
}
.home-banner-content-section {
    background-color: #d5e9fd;
    margin: 20px 0px 0px 0px;
    margin-top: 0px;
    padding: 3rem 1rem;
}
span.users-account-profile {
    width: 60px;
    height: 100%;
    display: inline-block;
    margin: 0px 10px;
}
span.users-account-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
h2.banner-home-title-head {
    font-size: 40px;
    font-weight: 700;
    color: #333333;
    margin: 10px 0px;
}
span.text-color-theme {
    color: #407bff;
}
span.btn-light-theme-danger {
    background-color: #ca2a14;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 15px;
    margin-left: 10px;
    vertical-align: middle;
}
span.btn-light-theme-danger img {
    vertical-align: sub;
    margin-right: 2px;
}
ul.order-user-list-item li.user-item-list-check {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 5px;
}
span.user-item-check-symbol {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}
span.user-item-check-symbol img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: sub;
}
.user-button-container {
    text-align: center;
    max-width: 80%;
}
.btn-primary-content-theme {
    background-color: #2e91f7 !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-align: center !important;
    padding: 10px !important;
    border-radius: 20px !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase !important;
    width: 100% !important;
    display: inline-block !important;
}
p.helping-info-text {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-top: 10px;
}
img.protect-lock-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    vertical-align: text-top;
    margin-right: 5px;
}
.user-account-profile-view {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
}
h5.heading-user-account {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
.user-account-description {
    margin-left: 1rem;
}
ul.user-social-account-container {
    margin-top: 2rem;
}
ul.user-social-account-container li.user-social-account-list {
    display: inline-block;
    margin: 10px 15px;
}
span.user-social-account-logo {
    width: 55px;
    height: 55px;
    display: inline-block;
}
span.user-social-account-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-banner-vactor-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-banner-product-section {
    display: block;
}
.video-player-section {
    margin: 40px 0px;
}
.video-react-playing {
    height: 400px !important;
    border-radius: 15px !important;
    padding-top: 0% !important;
}
.video-react .video-react-video {
    border-radius: 15px;
}
.video-react {
    height: 400px !important;
    border-radius: 15px !important;
    padding-top: 0% !important;
}
.video-react .video-react-big-play-button {
    top: 43%;
    left: 40%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
}
.video-react .video-react-big-play-button::before {
    color: #021b3d;
}
.user-banner-content-logo {
    width: 450px;
    height: 400px;
    display: inline-block;
}
p.paragraph-text-content {
    color: #666666;
}
p.user-paragraph-text-content {
    color: #333333;
}
.emotive-headline-benefits {
    margin: 30px 0px;
}
.emotive-benefits-timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img.img-fluid-logo-theme {
    width: 340px;
    height: 100%;
    display: inline-block;
}
.emotive-benefits-left-profile {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;
    margin-left: -3.2rem;
    z-index: 2;
    position: relative;
}
.emotive-benefits-left-profile-initail {
    margin-right: -3.2rem;
}

.emotive-benefits-left {
    flex: 1;
    margin-top: 3rem;
}
.emotive-benefits-left-description {
    max-width: 220px;
    text-align: right;
    margin-right: 20px;
}
.emotive-benefits-right-description {
    text-align: left;
    margin-left: 1rem;
}
h6.emotive-benefits-subheading {
    margin-bottom: 2px;
    font-weight: 600;
    color: #121212;
}
p.emotive-benefits-paragraph {
    font-size: 14px;
    color: #121212;
}
span.emotive-benfits-span-logo {
    width: 80px;
    height: 80px;
    display: inline-block;
}
span.emotive-benfits-span-logo img {
    width: 100%;
    height: 100%;
}
.emotive-benefits-left-profile-center {
    margin-right: -1rem;
}
.emotive-benefits-right-profile {
    justify-content: left;
}
.emotive-benefits-right-profile-center {
    margin-left: -1rem;
}
.emotive-benefits-border {
    border: 1px solid #2e91f7;
    padding: 2rem;
    border-radius: 50%;
}
.card-user-account-platform {
    text-align: center;
}
.card-user-account-top {
    position: relative;
}
span.user-card-profile {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 2px solid #2e91f7;
    border-style: dashed;
    border-radius: 50%;
    padding: 8px;
}
span.user-card-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
span.user-card-account {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #2e91f7;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 46%;
}
span.arrow-hand-logo {
    margin-left: 13px;
    vertical-align: text-bottom;
}
.hear-from-user-card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    min-height: 18rem;
    position: relative;
    margin: 15px;
}
span.hear-from-user-stars {
    margin-top: 1rem;
    display: inline-block;
}
h6.emotive-theme-subheading {
    color: #666666;
}

span.user-card-circle-logo {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    position: absolute;
    bottom: -3rem;
    left: 36%;
    z-index: 2;
}
span.user-card-circle-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.portfolio-headline-benefits .react-multi-carousel-list {
    overflow: visible;
}
.portfolio-headline-benefits {
    margin: 2rem 0rem;
}
ul.order-download-store {
    margin-top: 1rem;
    padding: 0px;
}
ul.order-download-store li.order-store-listing {
    display: inline-block;
    margin: 10px;
}
ul.order-download-store li.order-footer-social {
    margin: 10px;
}
li.order-footer-social span.store-app-manager {
    width: 20px;
    height: 20px;
}
span.store-app-manager {
    width: 130px;
    height: 100%;
    display: inline-block;
}
span.store-app-manager img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.portfolio-card-carousels-section {
    display: flex;
}
footer.footer-container-section {
    background-color: #121212;
    padding: 15px;
}
h4.footer-heading-menu {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    margin: 2rem 0rem;
}
li.footer-order-list-link {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 10px 0px;
}
span.store-app-manager-footer {
    width: 100px;
}
li.order-store-listing-footer {
    display: block !important;
}
span.user-navbar-logo {
    cursor: pointer;
}
.about-banner-vactor-section {
    display: block;
    text-align: center;
}
.about-banner-vactor-span {
    width: 400px;
    height: 100%;
    display: inline-block;
}
.about-banner-vactor-span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
h2.about-banner-subheading-right {
    font-size: 34px;
    font-weight: 400;
    color: #232323;
    text-transform: uppercase;
}
p.about-banner-subheading-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    margin-top: 1rem;
}
.about-banner-vactor-column {
    display: flex;
    align-items: center;
}
.about-vactor-image-content {
    width: 470px;
}
.contact-form-text-content {
    font-size: 18px;
    font-weight: 400;
    color: #666666 !important;
}
form.form-control-contact-content {
    width: 500px;
    display: inline-block;
    text-align: left;
    padding: 20px;
}
.contact-form-content-container {
    text-align: center;
}
.form-control-input-content {
    border: 1px solid #c8c8c8 !important;
    background-color: #f6f6f6 !important;
    border-radius: 30px !important;
    /* padding: 10px !important; */
    height: 50px;
    padding-left: 3.4rem !important;
    color: #666666 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.form-control-input-content::placeholder {
    color: #666666 !important;
}
.form-control-text-content {
    border: 1px solid #c8c8c8 !important;
    background-color: #f6f6f6 !important;
    border-radius: 30px !important;
    padding: 15px !important;
    color: #666666 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.form-control-text-content:focus,
.form-control-input-content:focus {
    box-shadow: none !important;
    outline: none !important;
}
span.contect-form-icon-content {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 0.8rem;
    left: 1.1rem;
}
span.contect-form-icon-content img {
    vertical-align: top;
}
.form-control-group-container {
    position: relative;
}
.form-control-btn-primary {
    background-color: #2e91f7 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #fff !important;
    padding: 15px !important;
    min-width: 300px !important;
    text-transform: uppercase !important;
    margin-top: 2rem;
}
.form-control-btn-weight {
    font-weight: 400 !important;
    padding: 10px !important;
    width: 100% !important;
}
p.admin-auth-redirect-link {
    margin-top: 10px;
    text-align: right;
    color: #2e91f7;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
}
p.admin-auth-redirect-text {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    text-transform: none;
    text-decoration: none;
}
span.text-uppercase-signup {
    color: #2e91f7;
    text-transform: uppercase;
    text-decoration: underline;
}
h4.heading-part-auth {
    font-size: 22px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}
ul li.social-account-redirect {
    display: inline-block;
    margin: 10px;
}
span.social-account-logo-icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
}
span.contect-form-icon-content-hide {
    position: absolute;
    right: 20px;
    top: 13px;
}
span.contect-form-icon-content-hide svg {
    width: 20px;
    height: 20px;
    color: #666666;
}
.form-control-otp-code {
    width: 60px !important;
    height: 60px;
    border-radius: 50% !important;
    padding: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    margin: 15px;
    display: inline-block !important;
    padding-left: 0px;
    color: #666666 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    border: 1px solid #c8c8c8 !important;
    background-color: #f6f6f6 !important;
}
.form-control-otp-code:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-control-btn-otp-code {
    width: 200px !important;
    min-width: 200px !important;
}
.home-admin-banner-content-section {
    padding: 0rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.home-admin-banner-content-center {
    flex: 5;
}
.admin-sidebar-menubar {
    background-color: #2e91f7 !important;
    padding: 15px;
}
.create-account-admin-section {
    height: 100%;
    background-color: #2e91f7;
}
.create-account-admin-section-kind {
    flex: 2;
}
.home-admin-banner-content-right {
    min-width: 10rem;
}
/* .admin-sidebar-menubar ul.rs-nav-default {
    background-color: #2e91f7 !important;
} */
.admin-sidebar-menubar ul.rs-nav-default a.rs-sidenav-item {
    color: #fff;
    background-color: #2e91f7;
    text-transform: uppercase;
    font-size: 18px;
}
.admin-sidebar-menubar ul.rs-nav-default a.rs-sidenav-item svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
    margin-right: 15px;
    vertical-align: top;
}
.admin-sidebar-menubar ul.rs-nav-default a.rs-sidenav-item:hover {
    background-color: #fff;
    border-radius: 30px;
    color: #2e91f7;
}
.admin-dashboard-links {
    text-transform: uppercase;
    background-color: transparent !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
}
.admin-dashboard-links:hover {
    background-color: #fff !important;
    color: #2e91f7 !important;
    border-radius: 30px !important;
}
.admin-aoute-navigate-left {
    margin-top: 3rem;
}
.admin-dashboard-bottom-bar {
    padding-left: 1rem !important;
}
.admin-dashboard-bottom-bar:hover {
    background-color: transparent !important;
    color: #fff !important;
}
span.admin-bottom-logo-bar {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.admin-navbar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.first-nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.center-space {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 5rem;
}

.second-nav {
    position: sticky;
    bottom: 0;
    z-index: 1;
}
.create-account-admin-profile {
    display: flex;
    text-align: center;
    padding: 15px;
}
span.user-account-logo-bar {
    width: 53px;
    height: 30px;
    display: inline-block;
}
.user-account-username {
    margin-left: 0.7rem;
}
h5.user-account-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
h6.user-account-description-kind {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-left: 0rem;
    text-align: left;
    text-decoration: underline;
    margin-top: 3px;
}
.left-bar-notifications {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}
.create-account-admin-section-right {
    padding: 10px;
}
h6.user-account-description-kind-white {
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    font-size: 18px;
}
span.user-account-logo-bar-bell {
    width: 30px;
    height: 30px;
}
.user-account-list-bar {
    border-radius: 30px;
    background-color: #2e91f7;
    margin-bottom: 10px;
    padding: 10px 20px;
}
h6.user-account-description-kind-notofication {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
p.notification-paragraph-list {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.home-admin-kind-dashboard {
    padding: 2rem;
}
.home-admin-kind-dashboard {
    display: flex;
    align-items: center;
}
span.contect-form-icon-search {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 0.8rem;
    right: 1.1rem;
}
.form-control-input-search {
    border: none !important;
    background-color: #f6f6f6 !important;
    border-radius: 30px !important;
    padding: 10px !important;
    height: 45px;
    padding-left: 15px !important;
    color: #666666 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.form-control-input-search:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.home-admin-kind-navbar {
    flex: 1;
}
span.user-account-logo-bar-top {
    width: 40px;
    height: 40px;
    margin-top: 6px;
}
span.user-account-logo-bar-dashboard {
    width: 100px;
    height: 100px;
    border: 2px solid #2e91f7;
    border-radius: 50%;
    padding: 3px;
}
.admin-dashboard-portfolio-kind {
    padding: 20px;
}
.user-account-title-dashboard {
    margin-left: 1rem;
    align-items: center;
    display: flex;
}
h3.user-account-title-username {
    color: #121212;
}

.blossom-view-content-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #00000040;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.blossom-view-content-card-portfolio {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px #00000040;
    margin-bottom: 15px;
    display: block;
    padding: 20px;
}
.blossom-view-content-card-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h5.user-account-title-white {
    color: #121212;
    text-align: left;
}
h6.user-account-title-white {
    color: #666666;
    text-decoration: none;
}
span.user-account-logo-bar-admin {
    height: 100%;
}
h5.heading-card-content-admin {
    font-size: 18px;
    font-weight: 400;
    color: #407BFF;
    text-transform: capitalize;
    margin-right: 10px;
}
.blossom-view-content-card {
    cursor: pointer;
}
.user-account-logo-bar {
    cursor: pointer;
}